data:
  db_url: ''
  remote: false
debug:
  db_log: false
  local_log: false
meme:
  channel_id: ''
  group_id: ''
  n_votes: 1
  reset_on_load: false
test:
  api_hash: ''
  api_id: -1
  remote: [true, false]
  session: ''
  tag: ''
  token: ''
token: ''
webhook:
  enabled: false
  url: ''